<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Facturacion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding>
            <security mode="Transport">
              <transport clientCredentialType="Windows" />
            </security>
          </binding>           
        </basicHttpBinding>         
      </bindings >
        <client />        
    </system.serviceModel>
    <applicationSettings>
        <Facturacion.Properties.Settings>
            <setting name="Facturacion_FacturaFuses_EnviarFacturaDian" serializeAs="String">
                <value>https://facturacion-terpel-gtic-apimanager-dev-apicast-production.cloudapps.terpel.com/facturacion/services/EnviarFacturaDian</value>
            </setting>
            <setting name="Facturacion_FacturaFuse_EnviarFacturaDian" serializeAs="String">
                <value>https://facturacion-terpel-gtic-apimanager-dev-apicast-production.cloudapps.terpel.com/facturacion/services/EnviarFacturaDian</value>
            </setting>
        </Facturacion.Properties.Settings>
    </applicationSettings>
</configuration>